/*
 * The main colors used in this style come a color scheme called "Gamebookers" by user "plamenj":
 *
 * http://www.colourlovers.com/palette/148712/Gamebookers
 *
 */

html, body {

    /* Size & Location */
    height:             100%;
    margin:             0px;
    
    /* Background */
    background-color:   #bcbcbc;    
    
    /* Text */
    font-family:        'Average Sans';
    color:              #424242;
    
}

.body {
    
    /* Size & Location */
    width:              640px;
    height:             auto !important;
    min-height:         100%;
    margin:             0px auto;
    
    /* Background */
    background-color:   #e9e9e9;
}

/* Header */

.body .header a {
        
    /* Text */
    font-family:        'Fjalla One';
    font-size:          80px;
    color:              #bcbcbc;
    letter-spacing:     2px;   
    text-decoration:    none;
    
}

/* Menu */

.body .menu {

    /* Spacing */
    padding:            10px 0px;

    /* Background */
    background-color:   #bcbcbc;
    text-align:         right;

}

.body .menu a {

    /* Spacing */
    margin-left:        10px;
    
    /* Background */
    text-decoration:    none;   
    
    /* Text */
    font-family:        'Fjalla One';
    font-size:          30px;
    color:              #424242;
    letter-spacing:     2px;
    transform:          uppercase;
    
}

.body .menu a:hover {
    
    /* Text */
    color:              #3299bb;
    
}

/* Content */

.body .post {
    padding:            0px 30px;
}

.body .content .post h1,
.body .content .post-list-item h1,
.body .content .post h2,
.body .content .post h3,
.body .content .post h4,
.body .content .post h5,
.body .content .post h6 {

    /* Text */
    font-family:        'Fjalla One';
    color:              #3299bb;
    font-weight:        normal;

}

.body .content .post p,
.body .content .post-list-item p {
    
    /* Text */
    font-size:          110%;
    text-align:         justify;
    line-height:        170%;
    letter-spacing:     0.02em;
    
}

.body .content .post a {

    /* Text */
    color:              #ff9900;
    font-weight:        bold;
    text-decoration:    none;

}

/* Post Lists */

.body .posts-list ul {
    list-style-type:    none;
    padding:            0px;
    margin:             0px;
}

.body .posts-list ul li {
    padding:            30px;
    padding-bottom:     0px;
    position:           relative;
}

.body .posts-list ul li a {

    /* Background */ 
    display:            block;
    background-color:   #bcbcbc;
    padding:            10px 5px;
    margin:             0px -30px;
    text-align:         right;
    
    /* Text */
    font-family:        'Fjalla One';
    font-size:          20px;
    letter-spacing:     2px;
    color:              #424242;
    font-weight:        normal;
    text-decoration:    none;
    
}

.body .posts-list ul li a:hover {
    
    /* Text */
    color:              #3299bb;
    
}

/* Tags */

.body .posts-list .tags {
    position:           absolute;
    left:               640px;
    top:                30px;
}

.body .posts-list .tags ul {
    margin:             0px;
    padding:            0px;
}

.body .posts-list .tags ul li {

    /* Spacing */
    padding:            5px;  
    margin:             5px 0px;
    background-color:   #424242;
    
    /* Text */
    font-weight:        normal;
    font-size:          10px;
    letter-spacing:     2px;
    
}

.body .posts-list .tags ul li {
    color:              #ff9900; 
}

/* Comments */

.body .comments {
    padding:            30px;
}